<header class="navbar navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a href="">
                <img src="/src/assets/images/logo.png" alt="logo">
            </a>
        </div>

        <nav class="collapse navbar-collapse headerMenu">
            <ul class="nav navbar-nav">
                <li>
                    <a>Orders</a>
                </li>

                <li class="active">
                    <a>Customers</a>
                </li>

                <li>
                    <a>Vendors</a>
                </li>

                <li>
                    <a>Enquipment</a>
                </li>

                <li>
                    <a>Items</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="btn-group">
                    <a class="userInfo dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="" alt=""> 
                        <span class="userName">John</span> 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>